/* ===========================
   Global Settings
=========================== */
* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 13px;
}

#waybar {
  background-color: #161616;
  transition: background-color 0.5s;
  box-shadow: inset 0 -3px rgba(1, 1, 1, 0.2); /* semi-transparent black */
}

/* ===========================
   Common Module Appearance
=========================== */

#window,
#workspaces button,
#clock,
#battery,
#power-profiles-daemon,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#custom-power {
  margin: 1px;
  padding: 0 10px;
  border-radius: 4px;
  transition: none;
  color: #000000;
  background: inherit;
  box-shadow: inset 0 -3px rgba(1, 1, 1, 0.2);
}

/* ===========================
   Modules Hover Appearance
=========================== */

#window:hover,
#workspaces button:hover,
#clock:hover,
#battery:hover,
#power-profiles-daemon:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover {
  background: inherit;
  box-shadow: inset 0 -3px rgba(1, 1, 1, 0.2);
}

/* ===========================
   Buttons (e.g. workspaces)
=========================== */

button {
  border: none;
  border-radius: 0;
  box-shadow: inset 0 -3px transparent;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* ===========================
   Workspaces
=========================== */

#workspaces {
  margin-left: 4px;
  margin-right: 8px;
}

#workspaces button {
  background-color: #42be65;
}

#workspaces button:hover {
  background-color: #2d8a4a;
}

#workspaces button.active {
  background-color: #1f7239;
}

/* ===========================
   Hyprland Window Modules
=========================== */

#window {
  background-color: #444444;
}

#window:hover {
  background-color: #303030;
}

/* ===========================
   Pulseaudio Modules
=========================== */

#pulseaudio {
  background-color: #9141ac;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#pulseaudio:hover {
  background-color: #b33a72;
}

#wireplumber {
  background-color: #fff0f5;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

/* ===========================
   Network Modules
=========================== */
#network {
  background-color: #2980b9;
}

#network:hover {
  background-color: #1a6387;
}

#network.disconnected {
  background-color: #f53c3c;
}

#network.disconnected:hover {
  background-color: #b92b2b;
}

/* ===========================
   Power-Profiles Modules
=========================== */

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #000000;
}

/* ===========================
   Backlight Modules
=========================== */
#backlight {
  background-color: #90b1b1;
}

#backlight:hover {
  background-color: #638484;
}

/* ===========================
   Battery Modules
=========================== */

#battery {
  background-color: #ff6e67;
}

#battery.charging,
#battery.plugged {
  background-color: #26a65b;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation: blink 0.5s steps(12) infinite alternate;
}

/* ===========================
   Clock Modules
=========================== */

#clock {
  background-color: #64727d;
}

#clock:hover {
  background-color: #47514b;
}

/* ===========================
   Tray Modules
=========================== */

#tray {
  background-color: #2980b9;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* ===========================
   Custom Modules
=========================== */

#custom-power {
  background-color: #f85552;
  margin-right: 4px;
}

/* ===========================
   Animations
=========================== */

@keyframes blink {
  to {
    background-color: #000000;
    color: #ffffff;
  }
}
